html(ng-app="bulkAPICalls")
  head
    title=title
    // link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", 
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous", rel='stylesheet')
    link(href='/css/radiobuttons.css', rel='stylesheet')

  
  body
    div(ng-view)
    
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js", type='text/javascript')
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js" type='text/javascript')
    script(src="//cdn.firebase.com/js/client/2.4.2/firebase.js" type='text/javascript')
    script(src="/javascripts/app.js", type='text/javascript')
    script(src="/javascripts/controllers.js", type='text/javascript') 
    script(src="/javascripts/services.js", type='text/javascript')  
    script(src="//cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js", type='text/javascript')
   