div.container(ng-controller="messagesController")
    form
        div.form-group
            h2 Retrieve Message Records
            br
            label(for="start") Start Date
            input(id="start" class="form-control" type="text" ng-model="operation.sDate" value="Start Date" required) 
            br        
            label(for="end") End Date
            input(id="end" class="form-control" type="text" ng-model="operation.eDate" value="End Date" required)
            br
            label(for="end") Task Name
            input(id="end" class="form-control" type="text" ng-model="operation.name" value="Task Name" required)
        button(type="submit" ng-click="update(operation)" value="submit" class="btn btn-primary") Submit
        br
    form(ng-show="result.ifResult")
        div.form-group
         h2 Pick an operation
         div.radio
          label
           input#delete(type="radio" ng-model="operation.action" value="delete" name="radios" ng-checked=true)
           |     Delete 
         div.radio
          label 
           input#redact(type="radio" ng-model="operation.action" value="redact" name="radios") 
           |     Redact body
         div.radio
          label
           input#test(type="radio" ng-model="operation.action" value="test" name="radios" ng-checked)
           |     Test 
        button(type="submit" ng-click="modify(operation)" value="submit" class="btn btn-primary") Submit
    form
     div.form-group(ng-show="result.ifResult")
       h4
         a(href="{{result.link}}") Download .csv of retrieved records
       h4
         a(href="{{result.link1}}" ng-show="result.ifModified") Download .csv of modified records
      br 
    pre Operation {{operation}}
    pre Master {{master}}
    pre Result {{result}}
       